{% extends 'base.html.twig' %}

{% block title %}Manager
{% endblock %}

{% block body %}
	<h1>Manager</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ manager.id }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ manager.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ manager.roles ? manager.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ manager.password }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ manager.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ manager.prenom }}</td>
			</tr>
			<tr>
				<th>Immatriculation</th>
				<td>{{ manager.immatriculation }}</td>
			</tr>
			<tr>
				<th>Date_de_naissance</th>
				<td>{{ manager.dateDeNaissance ? manager.dateDeNaissance|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('manager_index') }}">back to list</a>

	<a href="{{ path('manager_edit', {'id': manager.id}) }}">edit</a>

	{{ include('manager/_delete_form.html.twig') }}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Siret</th>
				<th>Photo_etablissement</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for etablissement in etablishments %}
				<tr>
					<td>{{ etablissement.id }}</td>
					<td>{{ etablissement.nom }}</td>
					<td>{{ etablissement.adresse }}</td>
					<td>{{ etablissement.siret }}</td>
					<td>{{ etablissement.photoEtablissement }}</td>
					<td>
						<a href="{{ path('etablissement_show', {'id': etablissement.id}) }}">show</a>
						<a href="{{ path('etablissement_edit', {'id': etablissement.id}) }}">edit</a>
						{% if etablissement.infoEtablissement is same as(null) %}
							<a href="{{ path('info_etablissement_new', {'id_etab': etablissement.id}) }}">add infos</a>
						{% else %}
							<a href="{{ path('info_etablissement_show', {'id_etab': etablissement.id, 'id': etablissement.infoEtablissement.id}) }}">show infos</a>
							<a href="{{ path('info_etablissement_edit', {'id_etab': etablissement.id, 'id': etablissement.infoEtablissement.id}) }}">edit infos</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
